/*media scroller*/
.hero-slider{
    position: relative;
}
.media-scroller{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 275px;
    /*position: absolute;*/
    /*border: limegreen 3px solid;*/
    grid-column-gap: 10px;
    overflow-x: auto;
}
.media-scroller::-webkit-scrollbar {
    display: none;
}

.scroller-controls{
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    /*scroll-padding-inline:20px ;*/
}

/*media element*/
.media-element{
    scroll-snap-align: center;
    border-radius: 13px;
    overflow: hidden;
    width: 270px;
    /*height: 450px;*/
    background-color: var(--white);
    box-shadow: 0 7px 21px 0 rgb(0 0 0 / 10%);
    /*border-top: var(--green) solid 5px;*/
    /*border-bottom: var(--green) solid 5px;*/
    padding-bottom: 20px;
}
.media-element__border{
    /*padding: 5px 1rem;*/
    width: 100%;
    /*border-top: 4px var(--green)dashed;*/
    /*background-color: var(--green);*/
    opacity: .2;
    margin-bottom: 1.5rem;
}
/*AVATAR CONTAINER*/


.media-element .user-avatar-box{
    /*background-color: var(--green);*/
    width: 170px;
    height: 170px;
    margin:20px auto 2rem auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    opacity: .9;
    transition: all 350ms ease;
}


.media-element:hover .user-avatar-box{
    border-radius: 25px;
    /*width: 90px;*/
    /*height: 90px;*/
    width: 205px;
    height: 205px;
    opacity: 1;
    /*padding-bottom: 80px;*/
}


.media-scroller .media-element > img{
    /*margin-bottom: 2rem;*/
    inline-size: 100%; /*logical property for vertical text*/
}
.media-element__title-wrapper{
    display: flex;

}



/*TODO: TABLET AND DESKTOP MEDIA QUERIES*/
/*@media screen and (min-width: 768px) {*/
/*    !*.media-scroller {*!*/
/*    !*    display: grid;*!*/
/*    !*    grid-auto-flow: column;*!*/
/*    !*    grid-auto-columns: 250px;*!*/
/*    !*}*!*/
/*}*/